<%-include('header') %>
<%-include('nav') %>
<h1 class="mx-5 my-5">CROMA</h1>
<form action="/add" class="form-control container w-25 my-3" method="post">
    <h1>Create <span class="text-success">Task...</span></h1>
    <input type="text" class="form-control my-3" placeholder="Title" name="title">
    <textarea name="dec" class="form-control my-3" placeholder="Description here" ></textarea>
    <button class="btn btn-success my-3">Add Task</button>
</form>
<%-include('footer') %>